<!DOCTYPE html>
<html>
    <head>
        <title>API requests to JokeAPI</title>
        <link rel="stylesheet" href="../public/styles/">
    </head>
    <body>
        <form action="/">
            <div>
                <p>Select Category</p>
                <span>
                    <label for="">Programming</label>
                    <input type="checkbox" name="" id="">
                </span>
                <span>
                    <label for="">Music</label>
                    <input type="checkbox" name="" id="">
                </span>
                <span>
                    <label for="">Dark</label>
                    <input type="checkbox" name="" id="">
                </span>
                <span>
                    <label for="">Pun</label>
                    <input type="checkbox" name="" id="">
                </span>
                <span>
                    <label for="">Spooky</label>
                    <input type="checkbox" name="" id="">
                </span>
            </div>
            <div>
                <p>Select Language</p>
                <select name="" id="" >
                    <option value="">en-Eng</option>
                    <option value="">de-Germ</option>
                    <option value="">Ru-Russian</option>
                </select>
            </div>
        </form>
    </body>
</html>