<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
        <link rel="stylesheet" href="/styles/styling.css">
    </head>

    <body>
        <div class="container">
            <h1>MY BLOG</h1>
            <a href="/new" id="newPostbtn"> New Post</a>
        </div>
    </body>
</html>